.home {
  display: grid;
  place-items: center;
  margin-top: 5rem;
  /* position: absolute;
  top: 2rem; */
  padding-bottom: 14rem;
}

.home-container {
  display: grid;
  grid-template-columns: 5rem auto 26rem;
  gap: 12rem;
}
.socials {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 5rem;
}

.socials a {
  font-size: 1.1rem;
  background: #fdfdfd;
  color: violet;
  padding: 0.3rem;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.socials a:hover {
  background: purple;
  color: #fff;
}

.content h1 {
  margin: 0;
  text-align: left;
}

.content h3 {
  margin: 2.4rem 0 1rem;
}

.content p {
  width: 35rem;
}
.profile-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-circle {
	width: 26rem;
	height: 26rem;
	border: 1px solid #f4f4f4;
	border-radius: 50%;
	position: relative;
	animation: move 30s linear infinite;
}

.outer-circle span {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	position: absolute;
	display: block;
	background: #fff;
	color: purple;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 1rem #f9bcb6;
}

.outer-circle span:nth-child(1) {
	left: calc(50% - 2rem);
	top: -2rem;
}

.outer-circle span:nth-child(2) {
	top: calc(50% - 2rem);
	right: -2rem;
}

.outer-circle span:nth-child(3) {
	top: calc(50% - 2rem);
	left: -2rem;
}

.outer-circle span:nth-child(4) {
	left: calc(50% - 2rem);
	bottom: -2rem;
}

.inner-circle {
	position: relative;
	width: 17rem;
	height: 17rem;
	border-radius: 50%;
	/* overflow: hidden; */
}

/* .profile-image{
  border-radius: 100%;
} */